@model IEnumerable<Core.Entities.Job>

<table>
    @await Html.PartialAsync("_JobTableHead.cshtml", Model.FirstOrDefault())
    <tbody>
    @foreach (var job in Model)
    {
        @await Html.PartialAsync("_JobTableRow.cshtml", job)
    }
    </tbody>
</table>