@model IEnumerable<Core.Entities.Job>

@{
    ViewData["Title"] = "Jobs";
}

<div class="text-center">
    <h1 class="display-4">Jobs</h1>
    <p>Here are some jobs.</p>
    
    <div>
        @await Html.PartialAsync("_JobTable.cshtml")
    </div>
    
</div>